.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh; /* Ajuste conforme necessário para centralizar verticalmente */
}

.avatar{
    width: 15rem;
    height: 15rem;
    border-radius: 150px;
    border: 4px solid var(--roxo-escuro);
    margin-bottom: 1rem;
}

.avatar:hover{
    transition: .5s;
    border: 4px solid rgb(255, 7, 102);
    transform: scale(1.025); /*aumenta ou diminui um elemento de acordo com o seu tamanho*/
    box-shadow: 0px 5px 10px var(--roxo);
 
}


.titulo{
    color: var(--roxo-escuro);
    font-size: 2rem;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 4vh;
}

.texto{
    color: black;
    font-size: 20px;
}

.conteiner{
    background-color: rgb(183, 217, 240);
}



